<div class="messenger-header">
	<div class="profile-picture inline">
		<img [src]="player.photoURL">
	</div>
	<div class="inline name">
		<h3>{{ player.gamerTag }}</h3>
		<p>Online</p>
	</div>
	<button class="transparent inline right center-y mr-05" [matMenuTriggerFor]="menu"><i class="fas fa-bars fa-2x"></i></button>
	<mat-menu #menu="matMenu">
		<a mat-menu-item routerLink="/game-list">My games</a>
	  <!--<a mat-menu-item routerLink="/leaderboard">Leaderboards</a>-->
	  <a mat-menu-item routerLink="/profile">Profile</a>
	  <a mat-menu-item (click)="authService.logout()">Logout</a>
	</mat-menu>
</div>

<div class="join pulse" *ngIf="!this.activeGame.joined" [@fade]>
	<div class="join-content">
		<h1>Webscape</h1>
		<h3>Enter game pin</h3>
		<input [(ngModel)]="room">
		<button mat-raised-button (click)="joinRoom(room)">Join</button>
		<p class="message" *ngIf="joiningRoom && !error.showError">Searching game...</p>
		<p class="message shake" *ngIf="error.showError">{{ error.errorMessage }}</p>
	</div>
</div>

<div class="join pulse" *ngIf="this.activeGame.joined" [@fade]>
	<div class="join-content">
		<h2>{{ activeGame.game.title }}</h2>
		<p class="status" *ngIf="activeGame.game.gameState.state === 'waiting'">Waiting for players..</p>
  	<p class="status" *ngIf="activeGame.game.gameState.state === 'running'">Starting game..</p>
  	<p class="status mt-05">Players joined: {{ activeGame.game.gameState.users.length - 1 }}</p>
  	<h2>Pin: <span class="theme-color">{{ room }}</span></h2>
	</div>
</div>

<a class="create-game-btn" routerLink="/game-editor" *ngIf="!this.activeGame.joined" [@fade]>
	<i class="fas fa-plus"></i>
	<span>Create new game</span>
</a>

<button class="help-btn" (click)="showHelp = true"><i class="far fa-question-circle"></i></button>
<div class="view-help" *ngIf="showHelp" [@fade]>
	<h1>
		<a (click)="showHelp = false" class="help-back-btn"><i class="fas fa-arrow-left"></i></a>
		Help & FAQ
		<i class="fas fa-question-circle help-icon"></i>
	</h1>
	<div class="iframe-wrapper">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ScMzIvxBSi4" allowfullscreen></iframe>
	</div>
	<div class="help-content">
		<p class="section-title">What is a Wescape game?</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p class="section-title">How to create a Wescape game</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		<p class="section-title">Frequently asked question (FAQ)</p>
		<mat-accordion>
		  <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        What is a template?
		      </mat-panel-title>
		    </mat-expansion-panel-header>
		    <p>Example text</p>
		  </mat-expansion-panel>
		  <mat-expansion-panel (opened)="panelOpenState = true"
		                       (closed)="panelOpenState = false">
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        Who is a sender?
		      </mat-panel-title>
		    </mat-expansion-panel-header>
		    <p>Example text</p>
		  </mat-expansion-panel>
		</mat-accordion>
	</div>
</div>