.messenger-header {
    background: #459f86;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px 3px 12px #0000008a;
    background: linear-gradient(-35deg, rgb(97, 218, 183) 0%, rgba(69,159,134,1) 46%, rgb(58, 134, 113) 100%);
}

.profile-picture {
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
	border-radius: 50%;
    transform: translateY(5%);
    box-shadow: 0 1px 2px #000;
    border: 1px solid #6abaa3;
}

.profile-picture img {
	height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.back-btn {
    position: relative;
    transform: translateY(-55%);
    padding-right: 0.5em;
}

.name {
	transform: translateY(-23%);
	margin-left: 0.5em;
}

.name h3, p {
	margin: 0;
}

.center-y {
	transform: translateY(60%);
}

.join {
    position: fixed;
    top: 4.7em;
    /* z-index: 999; */
    display: flex;
    width: 100%;
    background: #44ab8eb3;
    height: 95%;
    background: linear-gradient(-35deg, rgba(255,87,144,0.5) 0%, rgba(69,159,134,0.6) 60%, rgba(69,159,134,0.8) 100%);
}

.pulse {
    animation-name: background-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes background-animation {
    0%   {background-color:#44ab8eb3}
    20%  {background-color:#a544abb3}
    40%  {background-color:#ab444db3}
    60%  {background-color:#9fab44b3}
    80%  {background-color:#4644abb3}
    100% {background-color:#44ab8eb3}
}

.join-content {
    position: absolute;
    height: 17em;
    text-align: center;
    top: 10%;
    width: 100%;
}

.join-content h1 {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
    -webkit-transform: scale(0.6);
    transform: scale(0.75);
    margin: 0;
}

.join input {
    padding: 0.3em;
    font-size: 25px;
    border-radius: 0px;
    background: #ffffff36;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    padding-top: 12px;
    padding-bottom: 0.2em;
    border: none;
    border-radius: 6px;
    height: 1.25em;
    width: 8em;
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.join input:focus {
    outline: none !important;
}

.join button {
    width: 30%;
    background: #ff5790;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 20px;
    padding-top: 5px;
    border-radius: 0;
    /* box-shadow: unset; */
    width: 11em;
    margin-top: 0.5em;
    background: linear-gradient(45deg, rgba(152,68,183,1) 0%, rgba(255,53,127,1) 100%);
}


.join h3 {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 25px;
    font-weight: 100;
}

.join  h2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.join .status {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
}

.join .message {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
    margin-top: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-animation {
    animation-name: background-animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes background-animation {
    0%   {background-color:#44ab8eb3}
    20%  {background-color:#a544abb3}
    40%  {background-color:#ab444db3}
    60%  {background-color:#9fab44b3}
    80% {background-color:#4644abb3}
    100% {background-color:#44ab8eb3}
}

.game-list {
    margin-top: 9.5em;
    position: relative;
    z-index: 998;
    width: 100%;
    overflow: hidden;
}

.game-list-carousel {
    height: 20em;
    margin-bottom: 2em;
    background: #0001;
    box-shadow: 0 4px 10px #909090;
}

.game-list h2 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    margin-top: 0.3em;
    text-shadow: 0 1px 1px #000;
}

.game-list h2 > i {
    margin-left: 0.5em;
    transform: rotate(33deg);
    color: #2eccac;
}

.my-games-title > i {
    position: absolute;
    color: #fff !important;
    transform: unset !important;
    right: 1em;
}

.slide .game-info {
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    font-size: 30px;
}

.game-info small {
    margin-top: 1em;
    display: block;
    font-size: 20px;
}

.game-info p {
    color: #f3a936;
}

.slide {
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    position: relative;
}

.play-btn {
    display: block;
    background-color: transparent;
    border: none;
    height: 1.5em;
    width: 8em;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 49px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: transparent; */
    /* box-shadow: 0 4px 0 #183e36, inset 1px 32px #41ad98, inset 1px 10px 0 #fff; */
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    /* border: 1px solid #225e52; */
    font-family: 'Luckiest Guy', cursive;
    bottom: 0em;
}

.create-game-btn {
    position: fixed;
    z-index: 1000;
    height: 3em;
    width: 3em;
    background: #44ab8f;
    bottom: 1em;
    right: 1em;
    border-radius: 50%;
    box-shadow: 0 2px 4px #404040;
}

.create-game-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 2px #000;
}

.create-game-btn span {
    position: relative;
    left: -9em;
    width: 9em;
    display: block;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-family: 'Luckiest Guy', cursive;
    top: 55%;
    transform: translateY(-50%);
}

.edit-btn {
    position: absolute;
    right: 1em;
    top: 1em;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1002;
}

.active-game {
    text-align: center;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1002;
    padding-top: 4em;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}

.active-game  h2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.active-game button {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    font-size: 25px;
    padding: 0px;
    color: #fff;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    background: #279d88;
    padding-top: 7px;
}

.theme-color {
    font-weight: 100;
    color: #fdff84;
    margin-left: 0.5em;
}

.active-game  p {
    color: #949494;
    margin-bottom: 1em;
}

.logo {
    display: block;
    max-width: 18em;
}

.game-list-block {
    width: 100%;
}

.game-list-block .block {
    width: 50%;
    display: inline-block;
    height: 12em;
    position: relative;
    background-size: cover;
    background-position: center;
}

.block .game-info {
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    font-size: 30px;
}

.game-info small {
    margin-top: 1em;
    display: block;
    font-size: 14px;
}

.block p {
    font-size: 20px;
    color: #f3a936;
    padding: 0 0.5em;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-play-btn {
    display: block;
    background-color: transparent;
    border: none;
    height: 1.5em;
    width: 8em;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: transparent; */
    /* box-shadow: 0 4px 0 #183e36, inset 1px 32px #41ad98, inset 1px 10px 0 #fff; */
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    /* border: 1px solid #225e52; */
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
    bottom: 0.5em;
}

button {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
@-webkit-keyframes shake {
    0%, 100% {
        transform: translateX(-50%);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-45%);
        transform: translateX(-45%);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(-50%);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-45%);
        transform: translateX(-45%);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
    }
}