.logo {
    display: block;
    max-width: 36em;
}

.container {
    height: 100%;
    width: 100%;
    padding-top: 4em;
    background-color: #44ab8eb3;
    background: linear-gradient(45deg, rgba(69,159,134,0.6) 0%, rgba(69,159,134,0.6) 51%, rgba(255,87,144,0.6) 100%);
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    font-size: 70px;
}

.leaderboard-btn {
    display: block;
    height: 2.5em;
    width: 11em;
    color: #fff;
    font-size: 23px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    padding-top: 9px;
}

.leaderboard-btn i {
    float: right;
    color: yellow;
    text-shadow: 0 1px 1px #000;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-right: 0.2em;
}

.login-buttons {
    width: 16em;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 1em;
    height: 4em;
}

.login-buttons label {
    display: inline-block;
    position: relative;
    top: 1em;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.google-btn {
    box-shadow: 0 4px 0 #737373, inset 1px 32px #ffffff, inset 1px 10px 0 #fff;
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    border: 1px solid #a7a7a7;
    background-color: #fff !important;
}

.facebook-btn {
    box-shadow: 0 4px 0 #2c426f, inset 1px 32px #4265b2, inset 1px 10px 0 #fff;
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    border: 1px solid #a7a7a7;
    background-color: #4266b2 !important;
}

.login-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    height: 4em;
    width: 4em;
    text-align: center;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    position: relative;
    float: right;
    margin-left: 0.5em;
}

.login-btn img {
    height: 1.5em;
    padding: 0.5em;
}

.edition {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3em;
}

.leaderboard-container {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #225e5270;
}

.leaderboard {
    height: 100%;
}

.leaderboard h3 {
    text-align: center;
    color: #fff;
}

.leaderboard ul {
    height: 90%;
    overflow-y: scroll;
    list-style: none;
    padding: 0em 1em;
}

.leaderboard ul li {
    padding: 1em 1em;
    color: #fff;
    border-bottom: 1px solid #fff5;
    font-weight: bold;
}

.leaderboard ul li span {
    display: inline-block;
}

.trophy {
    margin-left: 1em;
    color: #ffe829;
    text-shadow: 0 1px 2px #000;
}

.gold {
    color: #ffe829;
    text-shadow: 0 1px 1px #000;
}

.silver {
    color: #cccccc;
    text-shadow: 0 1px 1px #000;
}

.bronze {
    color: #ec9d34;
    text-shadow: 0 1px 1px #000;
}

.refresh-btn {
    position: absolute;
    right: 1em;
}

.back-btn {
    float: left;
    position: relative;
    left: 1em;
}

.pulse {
    animation-name: background-animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes background-animation {
    0%   {background-color:#44ab8eb3}
    20%  {background-color:#a544abb3}
    40%  {background-color:#ab444db3}
    60%  {background-color:#9fab44b3}
    80% {background-color:#4644abb3}
    100% {background-color:#44ab8eb3}
}

.google-play-section {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.google-play-section p {
    margin-bottom: 0;
    color: #fff;
}

.google-play-section button {
    background: transparent;
    border: none;
    height: 3em;
}

.google-play-section button img {
    height: 4em;
}