.messenger-header {
    color: #fff;
    padding: 0.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 12px #0000008a;
    background: linear-gradient(-35deg, rgb(97, 218, 183) 0%, rgba(69,159,134,1) 46%, rgb(58, 134, 113) 100%);
}

.profile-picture {
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
	border-radius: 50%;
    transform: translateY(5%);
    box-shadow: 0 1px 2px #000;
    border: 1px solid #6abaa3;
}

.profile-picture img {
	height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.back-btn {
    position: relative;
    transform: translateY(-55%);
    padding-right: 0.5em;
}

.name {
	transform: translateY(-23%);
	margin-left: 0.5em;
}

.name h3, p {
	margin: 0;
}

.center-y {
	transform: translateY(60%);
}

@media only screen and (min-width: 1600px) {
    .input-area {
        width: 95% !important;
    }
}


@media only screen and (max-width: 1280px) {
    .input-area {
        width: 92.9% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .input-area {
        width: 91.9% !important;
    }
}

@media only screen and (max-width: 965px) {
    .input-area {
        width: 89.9% !important;
    }
}

@media only screen and (max-width: 780px) {
    .input-area {
        width: 88.9% !important;
    }

    .input-area input {
        max-width: 70%;
    }
}

@media only screen and (max-width: 710px) {
    .input-area {
        width: 86.9% !important;
    }
}

@media only screen and (max-width: 600px) {
    .input-area {
        width: 84.9% !important;
    }

    .logo {
        max-width: 32em !important;
    }
}

@media only screen and (max-width: 525px) {
    .input-area {
        width: 82.9% !important;
    }

    .input-area input {
        max-width: 65%;
    }

    .logo {
        max-width: 30em !important;
    }

    .start-btn {
        max-width: 65% !important;
    }
}

@media only screen and (max-width: 465px) {
    .input-area {
        width: 80.9% !important;
    }

    .input-area input {
        max-width: 60%;
    }

    .logo {
        max-width: 26em !important;
    }

    .start-btn {
        max-width: 60% !important;
    }
}

@media only screen and (max-width: 420px) {
    .input-area {
        width: 78.9% !important;
    }

    .input-area input {
        max-width: 55%;
    }

    .logo {
        max-width: 24em !important;
    }

    .name-field {
        width: 18em !important;
    }

    .start-btn {
        max-width: 55% !important;
    }
}

@media only screen and (max-width: 376px) {
    .input-area {
        width: 76.9% !important;
    }

    .input-area input {
        max-width: 50%;
    }

    .logo {
        max-width: 22em !important;
    }

    .name-field {
        width: 16em !important;
    }

    .start-btn {
        max-width: 50% !important;
    }
}

@media only screen and (max-width: 321px) {
    .input-area {
        width: 74.9% !important;
    }

    .input-area input {
        max-width: 45%;
    }

    .icon-btn {
        margin-right: 0;
    }

    .messenger-header button {
        margin-right: 0 !important;
    }

    .logo {
        max-width: 18em !important;
    }

    .name-field {
        width: 12em !important;
    }

    .start-btn {
        max-width: 45% !important;
    }
}

.messenger-input {
    position: fixed;
    bottom: 0em;
    right: 0em;
    left: 0em;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    padding: 0.3em;
    z-index: 200;
    background: linear-gradient(-35deg, rgb(97, 218, 183) 0%, rgba(69,159,134,1) 46%, rgb(58, 134, 113) 100%);
}

.input-area {
    background: #ffffff36;
    width: 93.9%;
    height: 2em;
    border-radius: 25px;
    padding: 0.5em;
}

.input-area input {
    width: 80%;
    height: 1.5em;
    position: relative;
    bottom: 0.4em;
    border: 0;
    left: 0.5em;
    color: #fff;
    background: transparent;
}

.input-area input:focus {
	outline: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.icon-btn {
    background: transparent;
    border: none;
    /* top: 0.5em; */
    margin-top: 0.2em;
    color: #47a388;
}

.microphone-btn {
    background-color: #4eb295;
    color: #fff;
    padding: 1em 1.35em;
    border-radius: 50%;
    border: none;
    width: 4em;
    height: 4em;
    box-shadow: 0 1px 2px #000000bd;
}

.microphone-btn .fa-paper-plane {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
}

.microphone {
	margin: 0;
  padding-left: 0.5em;
}

.message-area {
    position: relative;
	padding-top: 6em;
	padding-bottom: 4em;
    background: linear-gradient(-35deg, rgba(255,87,144,0.5) 0%, rgba(69,159,134,0.6) 60%, rgba(69,159,134,0.8) 100%);
    min-height: 78%;
    background-attachment: fixed;
}

.message-row {
	width: 100%;
	display: inline-block;
	margin-bottom: 0.3em;
}

.message-left {
    margin-left: 1em;
}

.message-right {
    margin-right: 1em;
    float: right;
}

.message-right .tip {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 17px solid #e6ffcc;
    border-right: 15px solid transparent;
    float: right;
    position: relative;
    top: 0.2em;
}

.message-right .message-content {
	width: fit-content;
    padding: 0.5em;
    background: #fff;
    border-radius: 5px;
    background-color: #e6ffcc;
    display: inline-block;
    max-width: 80%;
    float: right;
}

.message-left .tip {
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 17px solid white;
    border-left: 15px solid transparent;
}

.message-left .message-content {
	width: fit-content;
    padding: 0.5em;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.message-time {
    font-size: 12px;
    margin-left: 1em;
    color: #757575;
    position: relative;
    top: 0.5em;
    float: right;
}

.checked {
    display: inline-block;
    /* margin-left: 0.5em; */
    color: #57b9ec;
    position: relative;
    top: 0.2em;
    left: -0.2em;
    float: right;
}

.check-overflow {
    position: relative;
    left: 0.5em;
}

button:focus {
    outline: none !important;
}

.player-name-dialog {
    
}

.name-field {
    width: 20em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2em;
}

.image-wrapper {
    overflow: hidden;
    height: 20em;
    max-width: 30em;
}

.image-wrapper img {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: auto;
    height: 110%;
}

.file-input-wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: right;
    bottom: 0.3em;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.btn-file-input {
    margin-top: 0.1em !important;
}

.gallery {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #353535;
    z-index: 1000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 3px 3px #000;
}

.gallery .gallery-image-wrapper {
    margin-left: 0.5em;
    position: relative;
    display: inline-flex;
}

.gallery .gallery-image-wrapper > img {
    max-height: 5em;
}

.gallery-header {
    background-color: #7773;
    color: #777;
    /* text-align: center; */
    position: relative;
    height: 3.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 2px #1b1b1b;
}

.gallery-header .back-btn {
    top: 2.6em;
    left: 0.5em;
}

.gallery-header .menu-btn {
    position: relative;
    top: 1.25em;
    right: 0.5em;
}

.gallery-header h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.points-text {
    position: fixed;
    bottom: 1em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    width: 8em;
    height: 2em;
    background: linear-gradient(45deg, rgba(152,68,183,1) 0%, rgba(255,53,127,1) 100%);
    left: 50%;
    color: #fff;
    padding: 0.5em;
    box-shadow: 0 1px 2px #00000078;
    border-radius: 3px;
    font-size: 20px;
    z-index: 1000;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0 1px 2px #000;
}

.points-text span {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    position: relative;
    width: fit-content;
}

.hint-content {
    z-index: 100;
    position: fixed;
    color: #fff;
    font-size: 13px;
    bottom: 6em;
    width: 10em;
    background: #4db093;
    right: 7em;
    padding: 0.5em 1em;
    box-shadow: 0 1px 2px #0000009e;
}

.hint-content .tip {
    z-index: 100;
    position: absolute;
    right: -1em;
    display: block;
    border-top: 17px solid #4db092;
    border-right: 15px solid transparent;
    top: 2em;
}

.hint {
    z-index: 100;
    position: fixed;
    right: 1em;
    bottom: 3.4em;
    font-size: 25px;
    text-shadow: 0 0 26px yellow;
    padding: 0.35em 0.5em;
    border-radius: 50%;
    background: #d8c28a;
    box-shadow: 0 0px 58px yellow;
    color: #fff;
    animation-name: light-bulb;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes light-bulb {
    0%   {box-shadow: 0 0px 58px yellow;}
    50%  {box-shadow: 0 0px 22px yellow;}
    100% {box-shadow: 0 0px 58px yellow;}
}

.player-status {
    display: flex;
    text-shadow: 0 1px #000;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
}

.player-image-wrapper {
    height: 2.5em;
    overflow: hidden;
    width: 2.5em;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 1px 2px #000;
    border: 1px solid #6abaa3;
}

.player-image-wrapper img {
    height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-data {
    position: relative;
    width: 100%;
    display: flex;
    height: 3em;
    padding: 0.6em 1em 0.2em;
    transition: all 0.4s ease;
}

.player-data .score {
    position: absolute;
    right: 2em;
    /* top: 50%; */
    display: inline-block;
    /* position: relative; */
    top: 55%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
}

.player-data .correct {
    display: inline-block;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
    right: 9em;
}

.player-data .user {
    color: #fff !important;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
    max-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-data .finish {
    position: absolute;
    right: 2em;
    /* top: 50%; */
    display: inline-block;
    /* position: relative; */
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
}

.finish i {
    color: #5ce9c0;
}

.finished {
    background-color: #ffffff4d;
}

.crown {
    position: absolute;
    bottom: 1.5em;
    left: 0.2em;
    font-size: 1.6em;
}

.gold {
    color: #ffe829;
    text-shadow: 0 1px 1px #000;
}

.silver {
    color: #cccccc;
    text-shadow: 0 1px 1px #000;
}

.bronze {
    color: #ec9d34;
    text-shadow: 0 1px 1px #000;
}

.position {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    height: 1em;
    margin-right: 1em !important;
}


.join {
    position: fixed;
    top: 4.7em;
    /* z-index: 999; */
    display: flex;
    width: 100%;
    background: #44ab8eb3;
    box-shadow: 0 1px 10px #303030;
    height: 90%;
    background: linear-gradient(-35deg, rgba(255,87,144,0.5) 0%, rgba(69,159,134,0.6) 60%, rgba(69,159,134,0.8) 100%)
}

.join-content {
    position: absolute;
    height: 17em;
    text-align: center;
    top: 10%;
    width: 100%;
}

.join input {
    width: 70%;
    padding: 0.3em;
    font-size: 25px;
    border-radius: 0px;
    background: #ffffff36;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    padding-top: 12px;
    padding-bottom: 0.2em;
    border: none;
    /* padding-left: 5em; */
    /* border: 5px solid #43aa8d; */
    border-radius: 6px;
    height: 1.25em;
    width: 8em;
}

.join input:focus {
    outline: none !important;
}

.join button {
    width: 30%;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 20px;
    padding-top: 5px;
    border-radius: 0;
    width: 11em;
    margin-top: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
}


.join h3 {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 25px;
    font-weight: 100;
}

.join  h2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.join .status {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
}

.join .user {
    font-family: 'Luckiest Guy', cursive;
    color: #fdff84;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
}

.join .message {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
    margin-top: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pulse {
    animation-name: background-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes background-animation {
    0%   {background-color:#44ab8eb3}
    20%  {background-color:#a544abb3}
    40%  {background-color:#ab444db3}
    60%  {background-color:#9fab44b3}
    80%  {background-color:#4644abb3}
    100% {background-color:#44ab8eb3}
}

.header {
    min-height: 20em;
    padding: 1em;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.contact {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(-35deg, rgb(97, 218, 183) 0%, rgba(69,159,134,1) 46%, rgb(58, 134, 113) 100%);
    z-index: 1000;
}

.contact-menu-btn {
    float: right;
}

.contact-name {
    position: relative;
    bottom: -16em;
    color: #fff;
}

.contact-name p, h3 {
    margin: 0;
}

.contact-media {
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 1px #0000004f;
    background: #57c9a7;
}

.container-header {
    margin: 0;
    color: #449082;
    font-weight: 100;
}

.contact-media ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.contact-media ul > li {
    display: inline-block;
    height: 5em;
    width: 5em;
    overflow: hidden;
    margin-right: 0.3em;
    background-size: cover;
    background-position-x: center;
}

.contact-about {
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 1px #0000004f;
    background: #57c9a7;
    color: #449082 !important;
}

.contact-about p {
    color: #fff !important;
    margin-top: 1em;
}

.fullscreen-media {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position-x: center;
}

.fullscreen-header {
    padding: 1em;
    background: #7773;
}

.fullscreen-contact-name {
    margin-left: 1em;
    position: relative;
    top: 0.5em;
}

.fullscreen-contact-name h3, p {
    color: #fff;
    margin: 0;
}