<div class="messenger-header" *ngIf="playerInitialized" [@fade]>
	<button class="transparent inline back-btn"><fa name="arrow-left" size="2x"></fa></button>
	<div class="profile-picture inline">
		<img src="/assets/images/unknown.jpg">
	</div>
	<div class="inline name">
		<h3>UNKNOWN</h3>
		<p *ngIf="!typing">Online</p>
		<p *ngIf="typing">Typing...</p>
	</div>
	<button class="transparent inline right center-y mr-1" [matMenuTriggerFor]="menu"><fa name="ellipsis-v" size="2x"></fa></button>
	<button class="transparent inline right center-y mr-1"><fa name="phone" size="2x"></fa></button>
	<button class="transparent inline right center-y mr-1"><fa name="video-camera" size="2x"></fa></button>
	<mat-menu #menu="matMenu">
	  <a mat-menu-item (click)="openContact();">View contact</a>
	  <a mat-menu-item routerLink="/leaderboard">Media</a>
	  <a mat-menu-item routerLink="/settings" style="color:red;">Exit game</a>
	</mat-menu>
</div>

<div class="message-area" *ngIf="playerInitialized">
	<div *ngFor='let message of messages' class="message-row" [@fade]>
	  <div class="row" [ngClass]="{ 'message-right': !message.incoming, 'message-left': message.incoming }">
	  	<div class="tip"></div>
	  	<div class="message-content">
	  		<span>{{ message.text }}</span>
	  		<div class="checked" *ngIf="!message.incoming">
		  		<fa name="check" class="check-overflow"></fa>
		  		<fa name="check"></fa>
		  	</div>
		  	<span class="message-time">{{ message.time }}</span>
	  	</div>
	  </div>
	</div>
</div>

<div class="messenger-input" *ngIf="playerInitialized" [@fade]>
	<div class="inline input-area">
		<button class="icon-btn"><fa name="smile-o" size="2x"></fa></button>
		<input placeholder="Type a message" type="text"  name="text-input"  [(ngModel)]="message" (keydown)="sendMessage($event)">
		<button class="icon-btn right mr-05"><fa name="camera" size="2x"></fa></button>
		<button class="icon-btn right mr-1"><fa name="paperclip" size="2x"></fa></button>
	</div>
	<dir class="inline microphone">
		<button class="microphone-btn"><fa name="microphone" size="2x"></fa></button>
	</dir>
</div>

<div class="center-xy container" *ngIf="!playerInitialized" [@fade]>
	<img class="logo center-x" src="/assets/images/logo.png" *ngIf="!playerInitialized">

	<mat-form-field class="inline name-field center-x">
    <input matInput placeholder="Enter name (Group)" [(ngModel)]="player.name" (keydown)="startGame($event)">
  </mat-form-field>

  <!--<div class="leaderboard center-x">
		<h4 class="container-header">Leaderboard</h4>
		<ul>
			<li>Team Pirtu: 49 points - time: 20:03:56 min</li>
		</ul>
	</div>-->
</div>