<div class="messenger-header">
	<button class="transparent inline back-btn" routerLink="/game-list"><fa name="arrow-left" size="2x"></fa></button>
	<div class="profile-picture inline">
		<img [src]="game.sender.photo" *ngIf="gameInitialized===true" [@fade]>
	</div>
	<div class="inline name">
		<h3 *ngIf="gameInitialized===true" [@fade]>{{ game.sender.name }}</h3>
		<p *ngIf="!typing">Online</p>
		<p *ngIf="typing">Typing...</p>
	</div>
	<button class="transparent inline right center-y mr-05" [matMenuTriggerFor]="menu"><fa name="ellipsis-v" size="2x"></fa></button>
	<button class="transparent inline right center-y mr-05"><fa name="phone" size="2x"></fa></button>
	<button class="transparent inline right center-y mr-05"><fa name="video-camera" size="2x"></fa></button>
	<mat-menu #menu="matMenu">
	  <a mat-menu-item (click)="showContact = true">View contact</a>
	  <a mat-menu-item routerLink="/start">Exit game</a>
	  <a mat-menu-item (click)="authService.logout()" style="color:red;">Logout</a>
	</mat-menu>
</div>

<div class="points-text" *ngIf="showPoints" [@slide]>
	<span *ngIf="points > 0">Correct!</span>
	<span *ngIf="points < 0">Incorrect!</span>
	<span style="margin-top: 7px; font-size: 17px;">{{ points }} points</span>
</div>

<div class="join pulse" *ngIf="showResult" [@fade]>
	<div class="join-content" *ngIf="game.gameState.state !== 'finished'" [@fade]>
  	<h2>You are finished!</h2>
  	<p class="status">Waiting for other players to finish..</p>
	</div>

	<div class="join-content" *ngIf="game.gameState.state === 'finished'" [@fade]>
		<h2>{{ game.title }}</h2>
		
		<p class="status" style="margin-bottom: 1em;">Session results</p>
		<div class="session-results">
			<div class="player-status" *ngFor="let user of game.gameState.users; let i = index;">
  			<div class="player-data finished" *ngIf="user.email">
  				<span class="position">{{ i + 1 }}</span>
  				<div style="position: relative;">
  					<i *ngIf="i <= 3" class="fas fa-crown crown"[ngClass]="{ 'gold': i == 0, 'silver': i == 1, 'bronze': i == 2 }"></i>
	  				<div class="player-image-wrapper">
		  				<img [src]="user.photoURL">
		  			</div>
  				</div>
	  			<p class="user ml-05" style="display: inline-block;">{{ user.gamerTag }}</p>
	  			<span class="score">
	  				Total score: 
	  				<span class="ml-05">{{ user.additionalData.activeGame.points }}</span>
	  			</span>
  			</div>
  		</div>
		</div>
  	<button 
		style="display: block;" 
		mat-raised-button 
		routerLink="/start" 
		color="accent">Exit game<i class="fas fa-sign-out-alt ml-05"></i></button>
	</div>
</div>

<div class="message-area" *ngIf="!showResult" [@fade]>
	<i class="far fa-lightbulb hint" *ngIf="hint.isActive == true" (click)="showHint = !showHint" [@fade]></i>
	<div *ngIf="showHint && hint.isActive == true" class="hint-content" [@fade]>
		<div class="tip"></div>
		{{ hint.text }}
	</div>
	<div *ngFor='let message of messages' class="message-row" [@fade]>
		<button-clicker #buttonClicker></button-clicker>
		<light-pattern #lightPattern></light-pattern>
	  <div class="row" *ngIf="message.type !== 'button-clicker'" [ngClass]="{ 'message-right': !message.incoming, 'message-left': message.incoming }">
	  	<div class="tip"></div>
	  	<div class="message-content">
	  		<div class="image-wrapper" *ngIf="message.image">
	  			<img [src]="message.image" (load)="handleImageLoad()"/>
	  		</div>
	  		<span>{{ message.text }}</span>
	  		<div class="checked" *ngIf="!message.incoming">
		  		<fa name="check" class="check-overflow"></fa>
		  		<fa name="check"></fa>
		  	</div>
		  	<span class="message-time">{{ message.time }}</span>
	  	</div>
	  </div>
	</div>
</div>

<div class="messenger-input" *ngIf="!showResult" [@fade]>
	<div class="inline input-area">
		<button class="icon-btn" style="color: #3b8773;" (click)="showEmojiPicker=!showEmojiPicker">
			<i class="far fa-smile-beam fa-2x"></i>	
		</button>
		<input placeholder="Type a message" type="text"  name="text-input"  [(ngModel)]="message">
		<div class="file-input-wrapper">
		  <button class="icon-btn right mr-05 btn-file-input"><fa name="camera" size="2x"></fa></button>
		  <input type="file" name="file" accept="image/*;capture=camera" (change)="handleInputChange($event)">
		</div>
	</div>
	<div class="inline microphone">
		<button class="microphone-btn" (click)="sendMessage()">
			<fa name="microphone" size="2x" *ngIf="message === null || message === ''"></fa>
			<i class="fas fa-paper-plane fa-2x" *ngIf="message != ''"></i>
		</button>
	</div>
</div>

<emoji-mart 
	*ngIf="showEmojiPicker" 
	title="Pick your emoji…" 
	emoji="point_up" 
	(emojiClick)="addEmoji($event)" 
	[style]="{ position: 'absolute', bottom: '0px', left: '0px'}">
</emoji-mart>

<div class="contact" *ngIf="showContact" [@fade]>
	<div class="header" [ngStyle]="{'background-image': 'url(' + game.sender.photo + ')'}">
		<button style="top: 1.5em;" class="transparent back-btn" (click)="showContact = false"><fa name="arrow-left" size="2x"></fa></button>
		<button class="transparent contact-menu-btn"><fa name="ellipsis-v" size="2x"></fa></button>
		<div class="contact-name">
			<h3>{{ game.sender.name }}</h3>
			<p>Online</p>
		</div>
	</div>

	<div class="contact-media">
		<h4 class="container-header">Media</h4>
		<ul>
			<li (click)="fullscreen = true" [ngStyle]="{'background-image': 'url(' + game.sender.photo + ')'}"></li>
		</ul>
		<div class="fullscreen-media" [ngStyle]="{'background-image': 'url(' + game.sender.photo + ')'}" *ngIf="fullscreen">
			<div class="fullscreen-header">
				<button class="transparent mb-1" (click)="fullscreen = false"><fa name="arrow-left" size="2x"></fa></button>
				<div class="fullscreen-contact-name inline">
					<h3>{{ game.sender.name }}</h3>
					<p>1 hour ago.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="contact-about">
		<h4 class="container-header">About and phone number</h4>
		<p>{{ game.sender.phone }}</p>
	</div>
</div>

