.messenger-header {
    background: #215e53;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 12px #777;
}

.profile-picture {
	width: 4em;
	height: 4em;
	overflow: hidden;
	border-radius: 50%;
}

.profile-picture img {
	height: 4em;
    position: relative;
    left: -40%
}

.back-btn {
    position: relative;
    transform: translateY(-75%);
    padding-right: 0.5em;
}

.name {
	transform: translateY(-37%);
	margin-left: 0.5em;
}

.name h3, p {
	margin: 0;
}

.center-y {
	transform: translateY(70%);
}

@media only screen and (min-width: 1600px) {
    .input-area {
        width: 95% !important;
    }
}


@media only screen and (max-width: 1280px) {
    .input-area {
        width: 92.9% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .input-area {
        width: 91.9% !important;
    }
}

@media only screen and (max-width: 965px) {
    .input-area {
        width: 89.9% !important;
    }
}

@media only screen and (max-width: 780px) {
    .input-area {
        width: 88.9% !important;
    }

    .input-area input {
        max-width: 70%;
    }
}

@media only screen and (max-width: 710px) {
    .input-area {
        width: 86.9% !important;
    }
}

@media only screen and (max-width: 600px) {
    .input-area {
        width: 84.9% !important;
    }

    .logo {
        max-width: 32em !important;
    }
}

@media only screen and (max-width: 525px) {
    .input-area {
        width: 82.9% !important;
    }

    .input-area input {
        max-width: 65%;
    }

    .logo {
        max-width: 30em !important;
    }

    .start-btn {
        max-width: 65% !important;
    }
}

@media only screen and (max-width: 465px) {
    .input-area {
        width: 80.9% !important;
    }

    .input-area input {
        max-width: 60%;
    }

    .logo {
        max-width: 26em !important;
    }

    .start-btn {
        max-width: 60% !important;
    }
}

@media only screen and (max-width: 420px) {
    .input-area {
        width: 78.9% !important;
    }

    .input-area input {
        max-width: 55%;
    }

    .logo {
        max-width: 24em !important;
    }

    .name-field {
        width: 18em !important;
    }

    .start-btn {
        max-width: 55% !important;
    }
}

@media only screen and (max-width: 376px) {
    .input-area {
        width: 76.9% !important;
    }

    .input-area input {
        max-width: 50%;
    }

    .logo {
        max-width: 22em !important;
    }

    .name-field {
        width: 16em !important;
    }

    .start-btn {
        max-width: 50% !important;
    }
}

@media only screen and (max-width: 321px) {
    .input-area {
        width: 74.9% !important;
    }

    .input-area input {
        max-width: 45%;
    }

    .icon-btn {
        margin-right: 0;
    }

    .messenger-header button {
        margin-right: 0 !important;
    }

    .logo {
        max-width: 18em !important;
    }

    .name-field {
        width: 12em !important;
    }

    .start-btn {
        max-width: 45% !important;
    }
}

.messenger-input {
    position: fixed;
    bottom: 0em;
    right: 0em;
    left: 0em;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
    padding: 0.3em;
}

.input-area {
    background: #fff;
    width: 93.9%;
    height: 2em;
    border-radius: 25px;
    padding: 0.5em;
}

.input-area input {
    width: 80%;
    height: 1.5em;
    position: relative;
    bottom: 0.4em;
    border: 0;
    left: 0.5em;
}

.input-area input:focus {
	outline: none !important;
}

.icon-btn {
	  background: transparent;
    border: none;
    /* top: 0.5em; */
    margin-top: 0.2em;
    color: #9c9c9c;
}

.microphone-btn {
    background-color: #225e52;
    color: #fff;
    padding: 1em 1.35em;
    border-radius: 50%;
    border: none;
}

.microphone {
	margin: 0;
  padding-left: 0.5em;
}

.message-area {
	margin-top: 4em;
	margin-bottom: 4em;
}

.message-row {
	width: 100%;
	display: inline-block;
	margin-bottom: 0.3em;
}

.message-left {
    margin-left: 1em;
}

.message-right {
    margin-right: 1em;
    float: right;
}

.message-right .tip {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 17px solid #e6ffcc;
    border-right: 15px solid transparent;
    float: right;
    position: relative;
    top: 0.2em;
}

.message-right .message-content {
	width: fit-content;
    padding: 0.5em;
    background: #fff;
    border-radius: 5px;
    background-color: #e6ffcc;
    display: inline-block;
    max-width: 80%;
    float: right;
}

.message-left .tip {
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 17px solid white;
    border-left: 15px solid transparent;
}

.message-left .message-content {
	width: fit-content;
    padding: 0.5em;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.message-time {
    font-size: 12px;
    margin-left: 1em;
    color: #757575;
    position: relative;
    top: 0.5em;
    float: right;
}

.checked {
    display: inline-block;
    /* margin-left: 0.5em; */
    color: #57b9ec;
    position: relative;
    top: 0.2em;
    left: -0.2em;
    float: right;
}

.check-overflow {
    position: relative;
    left: 0.5em;
}

button:focus {
    outline: none !important;
}

.player-name-dialog {
    
}

.logo {
    display: block;
    max-width: 36em;
}

.name-field {
    width: 20em;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2em;
}

.start-btn {
    display: block;
    background-color: transparent;
    border: none;
    height: 3em;
    width: 12em;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #53a596;
    box-shadow: 0 4px 0 #1f584d, inset 1px 32px #5aaf9f, inset 1px 10px 0 #fff;
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    border: 1px solid #195247;
    font-family: 'Acme', sans-serif;
}

.image-wrapper {
    overflow: hidden;
    height: 20em;
    max-width: 30em;
}

.image-wrapper img {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: auto;
    height: 110%;
}

.file-input-wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: right;
    bottom: 0.3em;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.gallery {
    position: absolute;
    height: 30em;
    width: 80%;
    overflow: hidden;
    background: #353535;
    z-index: 1000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 3px 3px #000;
}

.gallery .gallery-image-wrapper {
    margin-left: 0.5em;
    position: relative;
    display: inline-flex;
}

.gallery .gallery-image-wrapper > img {
    max-height: 5em;
}

.gallery-header {
    background-color: #7773;
    color: #777;
    /* text-align: center; */
    position: relative;
    height: 3.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 2px #1b1b1b;
}

.gallery-header .back-btn {
    top: 2.6em;
    left: 0.5em;
}

.gallery-header .menu-btn {
    position: relative;
    top: 1.25em;
    right: 0.5em;
}

.gallery-header h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}