<div class="button-clicker" *ngIf="show" [@fade]>
	<p *ngIf="state === 'inactive'">Hit The Balls</p>
	<h2 *ngIf="state === 'inactive'" [@fade]>Hit as many balls you can in 20 seconds!</h2>
	<small *ngIf="state === 'inactive'">Note! Balls can be hitten multiple times!</small>
	<button 
		class="start-btn"
		color="accent" 
		mat-raised-button 
		*ngIf="state ==='inactive'"
		(click)="startGame()" [@fade]>Start game</button>
	<div *ngIf="state === 'started'" [@fade]>
		<div 
			class="hittable-button" 
			*ngFor="let button of gameArea.buttons">
			<button 
				mat-raised-button 
				color="accent" 
				[ngStyle]="{ 'left': button.left, 'top': button.top }"
				*ngIf="button.isVisible === true" 
				(click)="clicks = clicks + 1" [@fade]>Hit!</button>
		</div>
		<p class="timer">Time left: {{ timeLeft }}</p>
		<p class="hits">Hits: {{ clicks }}</p>
	</div>
	<div *ngIf="state === 'finished'">
		<p>Hit The Balls</p>
		<h2>Game over!</h2>
		<p class="result-text">You hit the balls {{ clicks }} times!</p>
	</div>
</div>
