.multiple-choice {
    color: #fff;
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    background: linear-gradient(-35deg, rgba(255,87,144, 1) 0%, rgba(69,159,134, 1) 60%, rgba(69,159,134, 1) 100%);
    z-index: 2000;
    top: 0;
    padding-top: 5em;
}

.multiple-choice h2 {
    color: #fdff84;
    font-size: 18px;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.multiple-choice p {
    font-size: 28px;
    margin-top: 1em;
    font-weight: bold;
}

.multiple-choice button {
    margin-top: 1em;
    height: 12em;
    width: 12em;
    border-radius: 50%;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.choice {
    display: inline-block;
    width: 46%;
    background: #ff3e9945;
    height: 8em;
    text-align: center;
    margin: 0.5%;
    box-shadow: 0 1px 5px #0000004d;
    position: relative;
    transition: all 0.3s ease;
}

.choice:hover {
    background: #ffa2ce45 !important;
    cursor: pointer;
}

.choice span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    height: 15em;
    background-position: center;
    background-size: cover;
}