.settings-view {
	height: 100%;
    width: 100%;
	background-color: #44ab8eb3;
    overflow: hidden;
}

.settings-content > .progress-bar {
    position: fixed;
    top: 4.7em;
    left: 0;
    z-index: 10;
}

.settings-view h1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 1em;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    border-bottom: 2px dashed #2f795da8;
    padding-bottom: 0.5em;
    box-shadow: 0 1px 4px #000;
    margin: 0;
    padding-top: 1em;
    background: #459f86;
}

.settings-view h1 > .profile-icon {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    color: #92dfe8;
    position: absolute;
    margin-left: 20px;
    font-size: 0.8em;
}

.fancy {
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px #172926;
  font-family: 'Luckiest Guy', cursive;
}


.back-btn {
	float: left;
	position: absolute;
	left: 1em;
    color: #fff;
    font-size: 0.8em;
}

.settings-content {
    padding: 1em;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    padding-bottom: 3em;
}

.profile-picture {
    grid-area: picture;
}

.profile-content {
    grid-area: content;
}

.profile-picture button {
    width: 8.5em;
    margin-top: 1em;
}

.picture-wrapper {
    width: 7.5em;
    height: 7.5em;
    overflow: hidden;
    border: 1px solid #fff5;
}

.picture-wrapper img {
    height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section-title {
    color: #fff;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    padding-bottom: 0.5em;
    border-bottom: 1px dashed #fff;
}

button {
  color: #fff;
  text-shadow: 0 1px #172926;
  font-family: 'Luckiest Guy', cursive;
}

.section-title button {
    position: relative;
    bottom: 1em;
    background: transparent;
    color: #fff;
}

.profile-info {
    display: grid;
    grid-template-areas: 'content picture';
    margin-bottom: 0em;
}

.uploads {
}

.upload {
    width: 31.33%;
    height: 6em;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 1%;
    box-shadow: 0 2px 3px #0003;
}

.upload img {
    height: 130%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.picture-checked {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    background: #fff5;
}

.confirmation-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15em;
    background-color: #fff;
    box-shadow: 0 2px 3px #777;
    text-align: justify;
    padding: 1em;
    z-index: 10;
    border-radius: 5px;
}

.progress-bar {
    position: absolute;
    top: 0;
}

.user-creation-loader {
    text-align: center;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding-top: 4em;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}

.user-creation-loader  h2 {
    color: #fff;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.user-creation-loader  p {
    color: #949494;
}

.save {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #006954f0;
    color: #fff;
    display: grid;
    grid-template-areas: 'info button';
}

.info {
    padding: 1em;
    grid-area: info;
}

.save-button {
    padding: 1em;
    grid-area: button;
}

.save-button button {
    height: 100%;
    background-color: #588b7e !important;
}

.info-text {
    margin-bottom: 5px;
}

.logo {
    display: block;
    max-width: 36em;
}

.profile-picture-selector {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #1d1d1d;
    top: 0;
    left: 0;
    /* padding: 1em; */
    z-index: 1001;
}

.profile-picture-selector > .progress-bar {
    position: fixed;
    top: 4.7em;
    left: 0;
    z-index: 10;
}

.profile-picture-selector h1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 1em;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    border-bottom: 2px dashed #272727a8;
    padding-bottom: 0.5em;
    box-shadow: 0 1px 4px #000;
    margin: 0;
    padding-top: 1em;
    background: #2323236b;
    font-weight: 100;
    height: 5%;
}

.profile-picture-selector .content {
    padding: 1em;
    height: 80%;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .logo {
        max-width: 32em !important;
    }
}

@media only screen and (max-width: 525px) {
    .logo {
        max-width: 30em !important;
    }
}

@media only screen and (max-width: 465px) {
    .logo {
        max-width: 26em !important;
    }
}

@media only screen and (max-width: 420px) {
    .logo {
        max-width: 24em !important;
    }
}

@media only screen and (max-width: 376px) {
    .logo {
        max-width: 22em !important;
    }
}

@media only screen and (max-width: 321px) {
    .logo {
        max-width: 18em !important;
    }
}