.messenger-header {
    background: #215e53;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px 3px 12px #777;
}

.profile-picture {
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
	border-radius: 50%;
    transform: translateY(5%);
}

.profile-picture img {
	height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.back-btn {
    position: relative;
    transform: translateY(-55%);
    padding-right: 0.5em;
}

.name {
	transform: translateY(-23%);
	margin-left: 0.5em;
}

.name h3, p {
	margin: 0;
}

.center-y {
	transform: translateY(60%);
}

.join {
    position: fixed;
    top: 4.7em;
    z-index: 999;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 10px #303030;
}

.join span {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: -1em;
    text-align: right;
    left: 1em;
    color: #277c64;
    font-weight: 300;
}

.join input {
    width: 70%;
    padding: 0.3em;
    font-size: 25px;
    border-radius: 0px;
    background: #77bea9;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    padding-bottom: 0.2em;
    border: none;
    padding-left: 3em;
    border: 5px solid #43aa8d;
}

.join input:focus {
    outline: none !important;
}

.join button {
    width: 30%;
    background: #44ab8e;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 20px;
    padding-top: 5px;
    border-radius: 0;
    box-shadow: unset;
}

.game-list {
    margin-top: 9.5em;
    position: relative;
    z-index: 998;
    height: 25em;
    width: 100%;
    overflow-x: hidden;
}

.game-list-carousel {
    height: 20em;
    background: #0001;
    box-shadow: 0 4px 10px #909090;
}

.game-list h2 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    margin-top: 0.3em;
    text-shadow: 0 1px 1px #000;
}

.game-list h2 > i {
    margin-left: 0.5em;
    transform: rotate(33deg);
    color: #2eccac;
}

.my-games-title > i {
    position: absolute;
    color: #fff !important;
    transform: unset !important;
    right: 1em;
}

.slide .game-info {
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    font-size: 30px;
}

.game-info small {
    margin-top: 1em;
    display: block;
    font-size: 20px;
}

.game-info p {
    color: #f3a936;
}

.slide {
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    position: relative;
}

.play-btn {
    display: block;
    background-color: transparent;
    border: none;
    height: 1.5em;
    width: 8em;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 49px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: transparent; */
    /* box-shadow: 0 4px 0 #183e36, inset 1px 32px #41ad98, inset 1px 10px 0 #fff; */
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    /* border: 1px solid #225e52; */
    font-family: 'Luckiest Guy', cursive;
    bottom: 0em;
}

.create-game-btn {
    position: fixed;
    z-index: 1000;
    height: 3em;
    width: 3em;
    background: #44ab8f;
    bottom: 1em;
    right: 1em;
    border-radius: 50%;
    box-shadow: 0 2px 4px #404040;
}

.create-game-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 2px #000;
}

.create-game-btn span {
    position: relative;
    left: -9em;
    width: 9em;
    display: block;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-family: 'Luckiest Guy', cursive;
    top: 55%;
    transform: translateY(-50%);
}

.edit-btn {
    position: absolute;
    right: 1em;
    top: 1em;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1002;
}