.messenger-header {
    background: #459f86;
    color: #fff;
    padding: 0.5em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px 3px 12px #0000008a;
    background: linear-gradient(-35deg, rgb(78, 183, 153) 0%, rgba(69,159,134,1) 43%, rgb(58, 134, 113) 100%);
}

.profile-picture {
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
	border-radius: 50%;
    transform: translateY(5%);
    box-shadow: 0 1px 2px #000;
    border: 1px solid #6abaa3;
}

.profile-picture img {
	height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.back-btn {
    position: relative;
    transform: translateY(-55%);
    padding-right: 0.5em;
}

.name {
	transform: translateY(-23%);
	margin-left: 0.5em;
}

.name h3, p {
	margin: 0;
}

.center-y {
	transform: translateY(60%);
}

.join {
    position: fixed;
    top: 4.7em;
    /* z-index: 999; */
    display: flex;
    width: 100%;
    background: #44ab8eb3;
    box-shadow: 0 1px 10px #303030;
    height: 90%;
}

.join-content {
    position: absolute;
    height: 17em;
    text-align: center;
    top: 10%;
    width: 100%;
}

.join input {
    width: 70%;
    padding: 0.3em;
    font-size: 25px;
    border-radius: 0px;
    background: #ffffff36;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    padding-top: 12px;
    padding-bottom: 0.2em;
    border: none;
    /* padding-left: 5em; */
    /* border: 5px solid #43aa8d; */
    border-radius: 6px;
    height: 1.25em;
    width: 8em;
}

.join input:focus {
    outline: none !important;
}

.join button {
    width: 30%;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 20px;
    padding-top: 5px;
    border-radius: 0;
    width: 11em;
    margin-top: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
}


.join h3 {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-size: 25px;
    font-weight: 100;
}

.join  h2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.join .status {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
}

.join .user {
    font-family: 'Luckiest Guy', cursive;
    color: #fdff84;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
}

.join .message {
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: 100;
    margin-top: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pulse {
    animation-name: background-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

@keyframes background-animation {
    0%   {background-color:#44ab8eb3}
    20%  {background-color:#a544abb3}
    40%  {background-color:#ab444db3}
    60%  {background-color:#9fab44b3}
    80%  {background-color:#4644abb3}
    100% {background-color:#44ab8eb3}
}

.game-list {
    position: relative;
    z-index: 998;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #44ab8eb3;
    min-height: 100%;
    padding-top: 6.5em;
    height: 100%;
    background: linear-gradient(to top, rgba(95, 194, 166, 0.3) 0%, rgba(69,159,134,0.7) 30%, rgba(69,159,134,0.8) 100%)
}

.game-list-carousel {
    height: 24em;
    margin-bottom: 2em;
    background: #0001;
    box-shadow: 0 2px 4px #0000007d;
}

.game-list h2 {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    margin-top: 0.3em;
    text-shadow: 0 1px 1px #000;
}

.game-list h2 > i {
    margin-left: 0.5em;
    transform: rotate(33deg);
    color: #2eccac;
}

.my-games-title > i {
    position: absolute;
    color: #fff !important;
    transform: unset !important;
    right: 1em;
}

.slide .game-info {
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    font-size: 30px;
}

.game-info small {
    margin-top: 1em;
    display: block;
    font-size: 20px;
}

.game-info p {
    color: #f3a936;
}

.slide {
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    position: relative;
}

.play-btn {
    display: block;
    background-color: transparent;
    border: none;
    height: 1.5em;
    width: 8em;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 49px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: transparent; */
    /* box-shadow: 0 4px 0 #183e36, inset 1px 32px #41ad98, inset 1px 10px 0 #fff; */
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    /* border: 1px solid #225e52; */
    font-family: 'Luckiest Guy', cursive;
    bottom: 0em;
}

.play-btn:focus {
    outline: none;
}

.create-game-btn {
    position: relative;
    z-index: 1000;
    height: 3em;
    width: 3em;
    background: #44ab8f;
    /* bottom: 1em; */
    right: 1em;
    border-radius: 50%;
    box-shadow: 0 2px 4px #404040;
    display: block;
    float: right;
    top: 0.5em;
}

.create-game-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 1px 2px #000;
}

.create-game-btn span {
    position: relative;
    left: -9em;
    width: 9em;
    display: block;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-family: 'Luckiest Guy', cursive;
    top: 55%;
    transform: translateY(-50%);
}

.edit-btn {
    position: absolute;
    right: 1em;
    top: 1em;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1002;
}

.active-game {
    text-align: center;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1002;
    padding-top: 4em;
    background-image: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}

.active-game  h2 {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
}

.active-game button {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    font-size: 25px;
    padding: 0px;
    color: #fff;
    text-shadow: 0 1px #172926;
    font-family: 'Luckiest Guy', cursive;
    background: #279d88;
    padding-top: 7px;
}

.theme-color {
    font-weight: 100;
    color: #fdff84;
    margin-left: 0.5em;
}

.active-game  p {
    color: #949494;
    margin-bottom: 1em;
}

.logo {
    display: block;
    max-width: 18em;
}

.game-list-block {
    width: 100%;
    padding-bottom: 10em;
    background: #fff3;
}

.game-list-block .block {
    width: 100%;
    display: inline-block;
    height: 15em;
    position: relative;
    background-size: cover;
    background-position: center;
}

.block .game-info {
    position: relative;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    font-size: 30px;
}

.game-info small {
    margin-top: 1em;
    display: block;
    font-size: 14px;
}

.block p {
    font-size: 20px;
    color: #f3a936;
    padding: 0 0.5em;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-play-btn {
    display: block;
    background-color: transparent;
    border: none;
    height: 1.5em;
    width: 8em;
    background-position: center;
    background-size: 15em 4em;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* background-color: transparent; */
    /* box-shadow: 0 4px 0 #183e36, inset 1px 32px #41ad98, inset 1px 10px 0 #fff; */
    border-radius: 5px;
    text-shadow: 0 1px #172926;
    /* border: 1px solid #225e52; */
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
    bottom: 0.5em;
}

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1001;
    background: #459f86;
    height: 4em;
    border-top: 1px solid #fff5;
    background: linear-gradient(-35deg, rgb(78, 183, 153) 0%, rgba(69,159,134,1) 43%, rgb(58, 134, 113) 100%);
}

.player-status {
    display: flex;
    padding: 0em 1em;
    text-shadow: 0 1px #000;
    color: #fff;
    margin: 0.5em 0;
    font-family: 'Luckiest Guy', cursive;
}

.player-image-wrapper {
    height: 2.5em;
    overflow: hidden;
    width: 2.5em;
    display: inline-block;
    border-radius: 50%;
}

.player-image-wrapper img {
    height: 110%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-data {
    position: relative;
    width: 100%;
    display: flex;
    height: 3em;
}

.player-data .points {
    position: absolute;
    right: 1em;
    /* top: 50%; */
    display: inline-block;
    /* position: relative; */
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
}

.player-data .correct {
    display: inline-block;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
    right: 8em;
}

.player-data .invalid {
    display: inline-block;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
    right: 11em;
}

.player-data .user {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    margin-left: 1em !important;
    max-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}