<div class="messenger-header">
	<button class="transparent inline back-btn" routerLink="/start"><fa name="arrow-left" size="2x"></fa></button>
	<div class="profile-picture inline">
		<img [src]="player.photoURL">
	</div>
	<div class="inline name">
		<h3>{{ player.gamerTag }}</h3>
		<p>Online</p>
	</div>
	<button class="transparent inline right center-y mr-05" [matMenuTriggerFor]="menu"><i class="fas fa-bars fa-2x"></i></button>
	<mat-menu #menu="matMenu">
		<a mat-menu-item routerLink="/start">Join game</a>
	  <!--<a mat-menu-item routerLink="/leaderboard">Leaderboards</a>-->
	  <a mat-menu-item routerLink="/profile">Profile</a>
	  <a mat-menu-item (click)="authService.logout()">Logout</a>
	</mat-menu>
</div>

<mat-progress-bar *ngIf="joiningRoom" color="accent" class="progress-bar" mode="indeterminate"></mat-progress-bar>

<div class="join pulse" *ngIf="temp !== undefined" [@fade]>
	<button class="deactivate-btn" (click)="deactivateGame()"><i class="fas fa-times"></i></button>
	<div class="join-content" [@fade]>
		<h2>{{ temp.title }}</h2>
  	<p class="status">Game is ready!</p>

		<button 
		style="display: block;" 
		mat-raised-button 
		(click)="setGamePublic()" 
		color="accent">Set game public <i class="far fa-play-circle ml-05"></i></button>
	</div>
</div>

<div class="join pulse" *ngIf="this.activeGame.game" [@fade]>
	<button class="deactivate-btn" (click)="deactivateGame()"><i class="fas fa-times"></i></button>
	<div class="join-content" *ngIf="!session.started" [@fade]>
		<h2>{{ activeGame.game.title }}</h2>
		<p class="status" *ngIf="activeGame.game.gameState.state === 'waiting'">Waiting for players..</p>
  	<p class="status" *ngIf="activeGame.game.gameState.state === 'running'">Starting game..</p>
  	<h2>Pin: <span class="theme-color">{{ room }}</span></h2>

  	<div class="users-joined">
  		<p class="status mt-05">Players joined: {{ activeGame.game.gameState.users.length - 1 }}</p>
			<p class="user mt-05" *ngFor="let user of activeGame.game.gameState.users.reverse()">{{ user.gamerTag }}</p>
  	</div>
  	<button 
		style="display: block;" 
		mat-raised-button 
		(click)="startActiveGame()" 
		*ngIf="activeGame.game.gameState.users.length > 1" 
		color="accent">Start game <i class="far fa-play-circle ml-05"></i></button>
	</div>

	<div class="join-content" *ngIf="showResults" [@fade]>
		<h2>{{ activeGame.game.title }}</h2>
		
		<p class="status" style="margin-bottom: 1em;">Session results</p>
		<div class="session-results">
			<div class="player-status" *ngFor="let user of activeGame.game.gameState.users; let i = index;">
  			<div class="player-data finished" *ngIf="user.email">
  				<span class="position">{{ i + 1 }}</span>
  				<div style="position: relative;">
  					<i *ngIf="i < 3" class="fas fa-crown crown"[ngClass]="{ 'gold': i == 0, 'silver': i == 1, 'bronze': i == 2 }"></i>
	  				<div class="player-image-wrapper">
		  				<img [src]="user.photoURL">
		  			</div>
  				</div>
	  			<p class="user ml-05" style="display: inline-block;">{{ user.gamerTag }}</p>
	  			<span class="points">
	  				Total score: 
	  				<span class="ml-05">{{ user.additionalData.activeGame.points }}</span>
	  			</span>
  			</div>
  		</div>
		</div>
  	<button 
		style="display: block;" 
		mat-raised-button 
		(click)="deactivateGame()" 
		color="accent">Exit game <i class="fas fa-sign-out-alt ml-05"></i></button>
	</div>

	<div class="join-content" *ngIf="session.started && !showResults" [@fade]>
		<h2>{{ activeGame.game.title }}</h2>
  	<h2>Pin: <span class="theme-color">{{ room }}</span></h2>

  	<div class="users-joined">
  		<p class="status mt-05" style="margin-bottom: 1em;">Players online: {{ activeGame.game.gameState.users.length - 1 }}</p>
  		<div 
  			class="player-status" 
  			*ngFor="let user of activeGame.game.gameState.users.reverse()">
  			<div class="player-data" *ngIf="user.email" [ngClass]="{ 'finished' : user.additionalData.activeGame.isFinished }">
  				<div class="player-image-wrapper">
	  				<img [src]="user.photoURL">
	  			</div>
	  			<p class="user ml-05" style="display: inline-block;">{{ user.gamerTag }}</p>
	  			<span class="points" *ngIf="!user.additionalData.activeGame.isFinished" [@fade]>
	  				Points: 
	  				<span class="ml-05">{{ user.additionalData.activeGame.points }}</span>
	  			</span>
	  			<span class="correct" *ngIf="!user.additionalData.activeGame.isFinished" [@fade]>
	  				Phase:
	  				<span class="ml-05">{{ user.additionalData.activeGame.correctAnswers + 1 }}</span>
	  			</span>
	  			<span class="finish" *ngIf="user.additionalData.activeGame.isFinished" [@fade]>
	  				Finished
	  				<i class="fas fa-check-circle ml-05"></i>
	  			</span>
  			</div>
  		</div>
  	</div>
		<button 
		style="display: block;" 
		mat-raised-button 
		(click)="displayGameResults()" 
		*ngIf="session.finished" color="accent">Display results <i class="fas fa-trophy ml-05"></i></button>
	</div>

</div>

<div class="view-container">
	<div class="game-list view" *ngIf="!this.activeGame.game && temp === undefined" [@fade]>
		<h2 class="my-games-title">
			My games
			<i class="fas fa-th right" (click)="carouselView = !carouselView"></i>
		</h2>
		<div class="game-search">
			<input type="" name="" [(ngModel)]="queryString" placeholder="Search"><i class="fas fa-search"></i>
		</div>
		<div class="game-list-carousel" *ngIf="carouselView && !queryString.length" [@fade]>
			<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
				<div ngxSlickItem *ngIf="!userGames.length" class="slide empty-games">
					<div class="default-content">
						<p>No games</p>
						<button mat-raised-button color="accent" routerLink="/game-editor">Create new game</button>
					</div>
		    </div>
		    <div ngxSlickItem *ngFor="let game of userGames.reverse() | search: queryString : 'title'" class="slide" [ngStyle]="{'background-image': 'url(' + game.images.background + ')'}">
		    	<button class="edit-btn" (click)="editGame(game)" mat-mini-fab><i class="fas fa-pencil-alt"></i></button>
		    	<button class="remove-btn" (click)="removeGame(game)" mat-mini-fab color="accent"><i class="fas fa-trash-alt"></i></button>
		    	<div class="game-info">
						<p [style.color]="game.themeColor">{{ game.title }}</p>
						<small>{{ game.questions }} Questions</small>
						<small>Duration: {{ game.duration }}</small>
					</div>
		    	<button class="play-btn" (click)="setGameReady(game)">
				  	Start
				  	<i class="far fa-play-circle"></i>
				  </button>
		    </div>
		  </ngx-slick>
		</div>
		<div class="game-list-block" *ngIf="!carouselView || queryString.length" [@fade]>
			<div 
				class="block" 
				*ngFor="let game of userGames.reverse() | search: queryString : 'title'" 
				[ngStyle]="{'background-image': 'url(' + game.images.background + ')'}">
				<button class="edit-btn" (click)="editGame(game)" mat-mini-fab color="accent"><i class="fas fa-pencil-alt"></i></button>
				<button class="remove-btn" (click)="removeGame(game)" mat-mini-fab color="accent"><i class="fas fa-trash-alt"></i></button>
				<div class="game-info">
					<p [style.color]="game.themeColor">{{ game.title }}</p>
					<small>{{ game.questions }} Questions</small>
					<small>Duration: {{ game.duration }}</small>
				</div>
	    	<button class="block-play-btn" (click)="setGameReady(game)">
			  	Start
			  	<i class="far fa-play-circle"></i>
			  </button>
			</div>
		</div>
	</div>
</div>

<div class="controls" *ngIf="!this.activeGame.game && temp === undefined" [@fade]>
	<a class="create-game-btn" routerLink="/game-editor">
		<i class="fas fa-plus"></i>
		<span>Create new game</span>
	</a>	
</div>
