<div class="messenger-header">
	<button class="transparent inline back-btn" routerLink="/start"><fa name="arrow-left" size="2x"></fa></button>
	<div class="profile-picture inline">
		<img [src]="player.photoURL">
	</div>
	<div class="inline name">
		<h3>{{ player.gamerTag }}</h3>
		<p>Online</p>
	</div>
	<button class="transparent inline right center-y mr-05" [matMenuTriggerFor]="menu"><i class="fas fa-bars fa-2x"></i></button>
	<mat-menu #menu="matMenu">
		<a mat-menu-item routerLink="/start">Join game</a>
	  <a mat-menu-item routerLink="/leaderboard">Leaderboards</a>
	  <a mat-menu-item routerLink="/profile">Profile</a>
	  <a mat-menu-item (click)="authService.logout()">Logout</a>
	</mat-menu>
</div>

<mat-progress-bar *ngIf="joiningRoom" color="accent" class="progress-bar" mode="indeterminate"></mat-progress-bar>

<div class="join search-animation" *ngIf="this.activeGame.game" [@fade]>
	<div class="join-content">
		<h2>{{ activeGame.game.title }}</h2>
		<p class="status" *ngIf="activeGame.game.gameState.state === 'waiting'">Waiting for players..</p>
  	<p class="status" *ngIf="activeGame.game.gameState.state === 'running'">Starting game..</p>
  	<h2>Pin: <span class="theme-color">{{ room }}</span></h2>

  	<div class="users-joined">
  		<p class="status mt-05">Players joined: {{ activeGame.game.gameState.users.length - 1 }}</p>
			<p class="user mt-05" *ngFor="let user of activeGame.game.gameState.users.reverse()">{{ user.gamerTag }}</p>
  	</div>
  	<button 
		style="display: block;" 
		mat-raised-button 
		(click)="startActiveGame()" 
		*ngIf="!activeGame.joined">Start game <i class="far fa-play-circle"></i></button>
	</div>
</div>

<!--
<div class="game-list">
	<h2>Games available</h2>
	<div class="game-list-carousel">
		<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
	    <div ngxSlickItem *ngFor="let game of games | async" class="slide" [ngStyle]="{'background-image': 'url(' + game.images.background + ')'}">
	    	<div class="game-info">
					<p [style.color]="game.themeColor">{{ game.title }}</p>
					<small>{{ game.questions }} Questions</small>
					<small>Duration: {{ game.duration }}</small>
				</div>
	    	<button class="play-btn" (click)="startGame(game)">
			  	Play
			  	<i class="far fa-play-circle"></i>
			  </button>
	    </div>
	  </ngx-slick>
	</div>
</div>
-->

<div class="game-list" *ngIf="!this.activeGame.game" [@fade]>
	<h2 class="my-games-title">
		My games
		<i class="fas fa-th right" (click)="carouselView = !carouselView"></i>
	</h2>
	<div class="game-list-carousel" *ngIf="carouselView" [@fade]>
		<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
	    <div ngxSlickItem *ngFor="let game of userGames" class="slide" [ngStyle]="{'background-image': 'url(' + game.images.background + ')'}">
	    	<button class="edit-btn" mat-mini-fab color="accent"><i class="fas fa-pencil-alt"></i></button>
	    	<div class="game-info">
					<p [style.color]="game.themeColor">{{ game.title }}</p>
					<small>{{ game.questions }} Questions</small>
					<small>Duration: {{ game.duration }}</small>
				</div>
	    	<button class="play-btn" (click)="setGameReady(game)">
			  	Start
			  	<i class="far fa-play-circle"></i>
			  </button>
	    </div>
	  </ngx-slick>
	</div>
	<div class="game-list-block" *ngIf="!carouselView" [@fade]>
		<div class="block" *ngFor="let game of userGames" [ngStyle]="{'background-image': 'url(' + game.images.background + ')'}">
			<button class="edit-btn" mat-mini-fab color="accent"><i class="fas fa-pencil-alt"></i></button>
			<div class="game-info">
				<p [style.color]="game.themeColor">{{ game.title }}</p>
				<small>{{ game.questions }} Questions</small>
				<small>Duration: {{ game.duration }}</small>
			</div>
    	<button class="block-play-btn" (click)="setGameReady(game)">
		  	Start
		  	<i class="far fa-play-circle"></i>
		  </button>
		</div>
	</div>
</div>

<div class="controls" *ngIf="!this.activeGame.game" [@fade]>
	<a class="create-game-btn" routerLink="/game-editor">
		<i class="fas fa-plus"></i>
		<span>Create new game</span>
	</a>	
</div>
